header {
  width: 100%;
  background: white;
}

.h-wrap {
  @extend %padding-large;

  h1.title {
    @extend h3;
    display: inline-block;
    margin: 0;
    padding: 0;
    font-weight: normal;
    a {
      color: $text-color;
      text-decoration: none;
      &:hover {
        color: $link-color;
      }
    }
  } // end h1.title

  .close {
    .lines {
      background: transparent;

      &::before,
      &::after {
        top:0;
        width: 30px;
        -webkit-transition: transform .3s ease;
        transition:         transform .3s ease;
      }

      &::before {
        -webkit-transform: rotate(45deg);
        transform:         rotate(45deg);
        margin: 0;
      }

      &::after {
        -webkit-transform: rotate(-45deg);
        transform:         rotate(-45deg);
        margin: 0;
      }

    } // end .lines
  } // end .close
} // end .h-wrap

.menu-icon {
  @extend %padding-large;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 200;
  &:hover {
    opacity: 1;
  }

  .lines {
    display: inline-block;
    position: relative;
    width: 25px;
    height: 2px;
    background: $text-color;
    border-radius: 20px;

    &::before,
    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      left: 0;
      width: 25px;
      height: 2px;
      background: $text-color;
      border-radius: 20px;

      -webkit-transition: all .3s ease;
      transition: all .3s ease;
    }

    &::before { top: 8px; }
    &::after { top: -8px; }

    &.toggled {
      background: transparent;
      &::before {
        -webkit-transform: translateX(-8px) rotate(45deg);
        transform:         translateX(-8px) rotate(45deg);
      }
      &::after {
        top: 0;
        -webkit-transform: translateX(8px) rotate(-45deg);
        transform:         translateX(8px) rotate(-45deg);
      }
    }
  } // .lines

} // end .menu-icon



// Off-canvas

.site-wrapper {
  @extend %transition;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  &.open {
    .menu-icon {
      position: fixed;
    }
  }
}

.off-canvas {
  @extend %padding-large;
  transition: transform .3s ease;;
  position: fixed;
  top: 0;
  right: -25em;
  width: 25em;
  height: 100%;
  background: $smoke-color;
  z-index: 100;
  overflow: auto;

  // insuring that off-canvas doesn't take more than the average iPhone portrait width under 400px
  @media (max-width: 399px) {
    max-width: 320px;
  }

  &.toggled {
    -webkit-transform: translateX(-25em);
    transform:         translateX(-25em);
    border-left: 1px solid $border-color;
  }

  .avatar {
    display: block;
    margin-bottom: $spacing-s;
    img {
      width: 6em;
      height: 6em;
      border-radius: 50%;
    }
  } // end .avatar


  .bio {
    display: block;
    h1 {
      @extend h3;
      margin: 0;
    }
    p {
      font-size: 90%;
      color: lighten($text-color, 30%);
      margin-bottom: 0;
    }
  }


  nav {

    h6 {
      text-align: left;
      margin-top: $spacing-m;
      margin-bottom: $spacing-s;
      color: lighten($text-color, 50%);
      padding-bottom: $spacing-xs;
      border-bottom: 1px solid $border-color;
    }
    ul li {
      list-style-type: none;
      margin-bottom: $spacing-xs;
      a {
        text-decoration: none;
      }
    }
  }

} // end .off-canvas
