section#single-wrap {
  width: 100%;
  max-width: 780px;
  margin: 20px auto;
  font-family: 'Lora', Georgia, serif;
  background: #fff;
  z-index: 1;
}

section#single-wrap .single-content {
  padding: 0 40px;
  overflow: hidden;
}

section#single-wrap .feat {
  text-align: center;
  border-bottom: 1px dotted #E0E1E6;
  margin: 0 20px 50px;
}

section#single-wrap .feat h5.page-date {
  display: inline-block;
  position: relative;
  top: 11px;
  background: #fff;
  font-size: 85%;
  text-align: center;
  font-weight: normal;
  font-style: italic;
  padding: 0 20px;
}

section#single-wrap #share {
  margin: 50px 20px;
}

section#single-wrap .feat a.popup {
  display: inline-block;
  position: relative;
  top: 15px;
  background: #fff;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  padding: 0 25px;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
}

section#single-wrap h1.page-title {
  font-size: 180%;
  line-height: 135%;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 0 0 60px;
  padding: 0 40px;
}

section#single-wrap p {
  padding: 0 40px;
}

section#single-wrap ul,
section#single-wrap ol {
  padding: 10px 80px;
}

section#single-wrap ul li,
section#single-wrap ol li {
  margin-bottom: 15px;
}

section#single-wrap h1,
section#single-wrap h2,
section#single-wrap h3,
section#single-wrap h4,
section#single-wrap h5,
section#single-wrap h6 { 
  padding: 0 40px; 
  margin-top: 40px;
}

section#single-wrap h1 { font-size: 150%; }
section#single-wrap h2 { font-size: 140%; font-style: italic; }
section#single-wrap h3 { font-size: 130%; font-weight: lighter; }
section#single-wrap h4 { font-size: 120%; font-weight: lighter; text-decoration: underline; text-align: center; }
section#single-wrap h5 { font-size: 110%; }
section#single-wrap h6 { font-size: 100%; }
section#single-wrap p { line-height: 160%; }

section#single-wrap blockquote {
  font-size: inherit;
  font-family: 'Open Sans', sans-serif;
  color: #666;
  border-left: 6px solid #39f;
  padding: 0 34px;
  margin: 40px 0;
  line-height: 165%;
}

section#single-wrap blockquote p {
  padding-left: 0!important;
  padding-right: 0!important;
}

section#single-wrap img {
  width: 100%;
  height: 100%;
}

/* pagination */

#prev,
#next {
  position: fixed;
  text-decoration: none;
  background: #fff;
  border: 1px solid #eee;
  padding: 10px;
  line-height: 1;
  border-radius: 25px;
  bottom: 40px;
  color: #333;
}

#prev { left: 40px; }
#next { right: 40px; }

#prev:active, 
#next:active {
  border-color: #39f;
}

.nav-title {
  display: none;
}

.nav-title-prev {
  margin-left: 10px;
  margin-right: 5px;
}

.nav-title-next {
  margin-right: 10px;
  margin-left: 5px;
}

#prev:hover .nav-title,
#next:hover .nav-title {
  display: inline;
}

/* highlights */
