---
layout: default
---

{% if page.previous %} 
  <a rel="prev" href="{{ site.baseurl }}{{ page.previous.url }}" id="prev">&larr;</a>
{% endif %}
{% if page.next %} 
  <a rel="next" href="{{ site.baseurl }}{{ page.next.url }}" id="next">&rarr;</a>
{% endif %}

<section id="single-wrap">
  <article class="single-content" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="feat">
      <h5 class="page-date">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {{ page.date | date_to_long_string }}
        </time>
      </h5>
    </div>
    <h1 class="page-title" itemprop="name headline">{{ page.title }}</h1>
    <div itemprop="articleBody">
      {{ content }}
    </div>
    <div id="share" class="feat">
      <a href="http://twitter.com/share" class="popup">
        <span class="icon-twitter"></span>
      </a>
    </div>
  </article>
</section>
